{% extends "inventario/comun/base.html" %}

{% block content %}
<article class="content error-page">
    <section class="section">
        <div class="row sameheight-container">
            <div class="col-xl-12">
                <div class="card card-danger">
                    <div class="card-header">
                        <div class="header-block">
                            <em class="fa fa-warning"></em>
                            <h1 class="title">500 - Error del servidor</h1>
                        </div>
                    </div>
                    <div class="card-block">
                        <p>Lo sentimos, ha ocurrido un error en el servidor.</p>
                        <a href="/" class="btn btn-primary">Volver al inicio</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}