{% extends "inventario/comun/base.html" %}

{% block content %}

<article class="content forms-page">
	<div class="title-block">
		<h3 class="title">Emitir pedido</h3>
		<p class="title-description">Llene todos los campos</p>
	</div>
	<section class="section">
		<div class="row sameheight-container">
			<div class="col-md-12">
				<form role="form" method="POST">
					{{ formset.management_form }}
					{% for form in formset %}
					<div class="card card-block sameheight-item">
						{% csrf_token %}
						<div class="row">
							<div class="form-group col-12">
								<label for="{{ form.descripcion.name }}">
									{{form.descripcion.label}}
								</label>
								{{form.descripcion}}
							</div>
							<div class="form-group col-md-6">
								<label for="{{ form.cantidad.name }}">
									{{form.cantidad.label}}
								</label>
								{{form.cantidad}}
							</div>
							<div class="form-group col-md-6">
								<label for="{{ form.vista_precio.name }}">
									{{form.vista_precio.label}}
								</label>
								{{form.vista_precio}}
							</div>
							<div class="form-group col-md-4">
								<label for="{{ form.subtotal.name }}">
									{{form.subtotal.label}}
								</label>
								{{form.subtotal}}
							</div>
								{{form.valor_subtotal}}
							<div class="form-group col-md-4">
								<label for="{{ form.valor_con_iva.name }}">
									{{form.valor_con_iva.label}}
								</label>
								{{form.valor_con_iva}}
							</div>
						</div>
					</div>
					{% endfor %}
					<button type="submit" class="btn btn-primary">Ingresar</button>
				</form>
			</div>
		</div>
	</section>
</article>

<script type="module">
	$(document).ready(function() {
		$('.select2').select2({
			theme: 'bootstrap-5'
		});
	});
</script>

{% load static %}
<script src='{% static "inventario/js/inventario.js" %}'></script>

{% endblock %}