{% load sidebar_active_routes %}

<aside class="sidebar">
    <div class="sidebar-container">
        <div class="sidebar-header border-secondary border-right" style="background-color: #eceff1">
            <div class="row px-2 pb-1">
                <div class="container col-4">
                    {% load static %}
                    <img class="img-fluid" src="{% static 'inventario/assets/logo/logo.png' %}">
                </div>
                <span class="col-8 d-flex align-items-center text-dark">
                    <strong>Comercial Marquito</strong>
                </span>
            </div>
        </div>

        <nav class="menu">
            <ul class="sidebar-menu metismenu" id="sidebar-menu">
                <li class="{% if 'panel'|in_list:request %}active{% endif %}">
                    <a href="/inventario/panel">
                        <i class="fa fa-home"></i> Inicio
                    </a>
                </li>
                <!-- Sub-menu de categorías -->
                <li class="{% if 'categorias'|in_list:request %}active open{% endif %}">
                    <a href="">
                        <i class="fa fa-list"></i> Categorías
                        <i class="fa arrow"></i>
                    </a>
                    <ul class="sidebar-nav">
                        <li><a href="/inventario/listarCategorias"><i class="fa fa-ellipsis-h"></i> Listar categorías</a>
                        </li>
                        <li><a href="/inventario/agregarCategoria"><i class="fa fa-plus"></i> Agregar categoría</a></li>
                    </ul>
                </li>
                <!-- Fin de sub-menu de categorías -->

                <!-- Sub-menu de producto -->
                <li class="{% if 'productos'|in_list:request %}active open{% endif %}">
                    <a href="">
                        <i class="fa fa-shopping-basket"></i> Productos
                        <i class="fa arrow"></i>
                    </a>
                    <ul class="sidebar-nav">
                        <li><a href="/inventario/listarProductos"><i class="fa fa-ellipsis-h"></i> Listar productos</a>
                        </li>
                        <li><a href="/inventario/agregarProducto"><i class="fa fa-plus"></i> Agregar producto</a></li>
                    </ul>
                </li>
                <!-- Fin de sub-menu de producto -->

                <!-- Sub-menu de kardex -->
                <li class="{% if 'kardex'|in_list:request %}active open{% endif %}">
                    <a href="#">
                        <i class="fa fa-shopping-cart"></i> Kardex
                        <i class="fa arrow"></i>
                    </a>
                    <ul class="sidebar-nav">
                        <li><a href="/inventario/lista_productos/"><i class="fa fa-ellipsis-h"></i> Lista de
                                productos</a></li>
                        <!-- <li><a href="/inventario/detalle_kardex/1/"><i class="fa fa-plus"></i> Detalle del Kardex</a>
                        </li>
                        <li><a href="/inventario/resumen_kardex/1/"><i class="fa fa-file-text"></i> Resumen del
                                Kardex</a></li>
                        <li><a href="/inventario/nuevo_movimiento/1/"><i class="fa fa-plus-circle"></i> Nuevo
                                Movimiento</a></li> -->
                    </ul>
                </li>
                <!-- Fin de sub-menu de kardex -->

                <!-- Sub-menu de proveedor -->
                <li class="{% if 'proveedores'|in_list:request %}active open{% endif %}">
                    <a href="">
                        <i class="fa fa-book"></i> Proveedores
                        <i class="fa arrow"></i>
                    </a>
                    <ul class="sidebar-nav">
                        <li><a href="/inventario/listarProveedores"><i class="fa fa-ellipsis-h"></i> Listar
                                proveedores</a></li>
                        <li><a href="/inventario/agregarProveedor"><i class="fa fa-plus"></i> Agregar proveedor</a></li>
                    </ul>
                </li>
                <!-- Fin de sub-menu de proveedor -->

                <!-- Sub-menu de pedido -->
                <li class="{% if 'pedidos'|in_list:request %}active open{% endif %}">
                    <a href="">
                        <i class="fa fa-gift"></i> Pedidos
                        <i class="fa arrow"></i>
                    </a>
                    <ul class="sidebar-nav">
                        <li><a href="/inventario/listarPedidos"><i class="fa fa-ellipsis-h"></i> Listar pedidos</a></li>
                        <li><a href="/inventario/agregarPedido"><i class="fa fa-plus"></i> Añadir pedido</a></li>
                    </ul>
                </li>
                <!-- Fin de sub-menu de pedido -->

                <!-- Sub-menu de clientes -->
                <li class="{% if 'clientes'|in_list:request %}active open{% endif %}">
                    <a href="">
                        <i class="fa fa-handshake-o"></i> Clientes
                        <i class="fa arrow"></i>
                    </a>
                    <ul class="sidebar-nav">
                        <li><a href="/inventario/listarClientes"><i class="fa fa-ellipsis-h"></i> Listar clientes</a>
                        </li>
                        <li><a href="/inventario/agregarCliente"><i class="fa fa-plus"></i> Agregar cliente</a></li>
                    </ul>
                </li>
                <!-- Fin de sub-menu de clientes -->

                <!-- Sub-menu de clientes -->
                <li class="{% if 'descuentos'|in_list:request %}active open{% endif %}">
                    <a href="">
                        <i class="fa fa-tags"></i> Descuentos
                        <i class="fa arrow"></i>
                    </a>
                    <ul class="sidebar-nav">
                        <li><a href="/inventario/listarDescuentos"><i class="fa fa-ellipsis-h"></i> Listar descuentos</a>
                        </li>
                        <li><a href="/inventario/agregarDescuento"><i class="fa fa-plus"></i> Agregar descuento</a></li>
                    </ul>
                </li>
                <!-- Fin de sub-menu de clientes -->

                <!-- Sub-menu de factura -->
                <li class="{% if 'ventas'|in_list:request %}active open{% endif %}">
                    <a href="">
                        <i class="fa fa-file-invoice"></i> Ventas
                        <i class="fa arrow"></i>
                    </a>
                    <ul class="sidebar-nav">
                        <li><a href="/inventario/listarVentas"><i class="fa fa-ellipsis-h"></i> Listar ventas</a></li>
                        <li><a href="/inventario/emitirVenta"><i class="fa fa-money"></i> Emitir venta</a></li>
                    </ul>
                </li>
                <!-- Fin de sub-menu de factura -->

                {% if user.is_authenticated and user.is_staff %}
                    <!-- Sub-menu de usuarios -->
                    <li class="{% if 'usuarios'|in_list:request %}active open{% endif %}">
                        <a href="">
                            <i class="fa fa-users"></i> Usuarios
                            <i class="fa arrow"></i>
                        </a>
                        <ul class="sidebar-nav">
                            <li><a href="/inventario/listarUsuarios"><i class="fa fa-ellipsis-h"></i> Listar usuarios</a></li>
                            <li><a href="/inventario/crearUsuario"><i class="fa fa-plus"></i> Crear usuario</a></li>
                        </ul>
                    </li>
                    <!-- Fin de sub-menu de usuarios -->

                    <!-- Sub-menu de opciones -->
                    <li class="{% if 'opciones'|in_list:request %}active open{% endif %}">
                        <a href="">
                            <i class="fa fa-cog"></i> Opciones
                            <i class="fa arrow"></i>
                        </a>
                        <ul class="sidebar-nav">
                            <!-- <li><a href="/inventario/importarBDD"><i class="fa fa-file"></i> Importar base de datos</a>
                            </li>
                            <li><a href="/inventario/descargarBDD"><i class="fa fa-download"></i> Descargar base de datos</a>
                            </li> -->
                            <li><a href="/inventario/configuracionGeneral"><i class="fa fa-gear"></i> Configuración
                                    general</a></li>
                        </ul>
                    </li>
                    <!-- Fin de sub-menu de opciones -->
                {% endif %}
            </ul>
        </nav>
    </div>
</aside>