{% extends "inventario/comun/base.html" %}

{% block content %}

<!-- NO MODIFICAR ---------------------------------->
{% load static %}
<script src='{% static "inventario/js/eliminarEntradas.js" %}'></script>
<!-- FIN DE JAVASCRIPT ------------------------------------>


<article class="content responsive-tables-page">
    <div class="title-block">
        <h1 class="title"> Listar proveedores </h1>
        <p class="title-description"> Verifique los proveedores agregados </p>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-md-12">
                {% if messages %}
                {% for message in messages %}
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="header-block">
                            <em class="fa fa-check"></em>
                            <p class="title">{{ message }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {%endif%}
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block">
                            <div class="card-title-block">
                                <h3 class="title">Proveedores</h3>
                            </div>
                            <section class="example">
                                <div class="table-responsive">
                                    <table id="example2" class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nombre completo</th>
                                                <th class="noVis">Tipo ID</th>
                                                <th>Cédula</th>
                                                <th>RUC</th>
                                                <th>Ciudad</th>
                                                <th class="noVis">Dirección</th>
                                                <th>Teléfono</th>
                                                <th>Correo</th>
                                                <th class="noVis">Teléfono 2</th>
                                                <th class="noVis">Correo 2</th>
                                                <th class="exclude">Información</th>
                                                <th class="exclude">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for fila in tabla %}
                                            <tr>
                                                <td>{{ fila.id }}</td>
                                                <td>{{ fila.nombre }} {{ fila.apellido }}</td>
                                                <td>{{ fila.get_tipoCedula_display }}</td>
                                                <td>
                                                    <p>{{ fila.cedula }}</p>
                                                </td>
                                                <td>{{ fila.ruc }}</td>
                                                <td>{{ fila.ciudad }}</td>
                                                <td>{{ fila.direccion }}</td>
                                                <td>{{ fila.telefono }}</td>
                                                <td>{{ fila.correo }}</td>
                                                <td>
                                                    {% if fila.telefono2 %}
                                                        {{ fila.telefono2 }}
                                                    {% else %}
                                                        <small class="text-danger">Sin datos</small>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if fila.correo2 %}
                                                        {{ fila.correo2 }}
                                                    {% else %}
                                                        <small class="text-danger">Sin datos</small>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <button class="btn btn-info" onclick="mostrarInformacion('{{ fila.informacion|escapejs }}')">Ver más</button>
                                                </td>
                                                <td>

                                                    <div class="btn-group">

                                                        <button type="button" class="btn btn-info dropdown-toggle"
                                                            data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false"><i class="fa fa-wrench"></i></button>

                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item"
                                                                href="/inventario/editarProveedor/{{ fila.id}}">Editar/Ver
                                                                proveedor</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item"
                                                                onclick="eliminarEntrada( {{fila.id}},'proveedor' )">Eliminar
                                                                Proveedor</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</article>

<div class="modal fade" id="modalInformacion" tabindex="-1" role="dialog" aria-labelledby="modalInformacionLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalInformacionLabel">Información del Proveedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Aquí se insertará la información del proveedor -->
            </div>
        </div>
    </div>
</div>


<script type="module">
    $().ready(function() {
        initializeDataTable('#example2', 'Lista Proveedores', 2);
    });
</script>

<script>
    function mostrarInformacion(informacion) {
        $('#modalInformacion .modal-body').html(informacion);
        $('#modalInformacion').modal('show');
    }
</script>

{% endblock %}