{% extends "inventario/comun/base.html" %}

{% block content %}
<article class="content forms-page">
	<div class="title-block">
		<h3 class="title">Emitir factura</h3>
		<p class="title-description">Introduzca la cédula y el número de
			productos para generar los campos</p>
	</div>
	{% if missing or productos_disponibles < 1 %}
		{% if missing %}
		<section class="section">
			<div class="row sameheight-container">
				<div class="col-md-12">
					<div class="alert alert-danger d-flex align-items-center" role="alert">
						<div class="icon-block mr-3">
							<span class="fa fa-exclamation-triangle fa-2x"></span>
						</div>
						<div>
							<span>Necesita tener al menos un cliente para poder emitir una factura</span>
							<a href="/inventario/agregarCliente" class="btn btn-secondary">Da click aquí para agregar</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		{% endif %}
		{% if productos_disponibles < 1 %}
		<section class="section">
			<div class="row sameheight-container">
				<div class="col-md-12">
					<div class="alert alert-danger d-flex align-items-center" role="alert">
						<div class="icon-block mr-3">
							<span class="fa fa-exclamation-triangle fa-2x"></span>
						</div>
						<div>
							<span>Necesita tener al menos un producto registrado y en stock para poder emitir una factura</span>
							<a href="/inventario/agregarProducto" class="btn btn-secondary">Da click aquí para agregar</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		{% endif %}
	{%else%}
	<section class="section">
		<div class="row sameheight-container">
			<div class="col-md-12">
				{% if messages %}
				{% for message in messages %}
				<div class="card card-primary">
					<div class="card-header">
						<div class="header-block">
							<em class="fa fa-check"></em>
							<p class="title">{{ message }}</p>
						</div>
					</div>
				</div>
				{% endfor %}
				{%endif%}

				<div class="card card-block sameheight-item">
					<form role="form" method="POST" onsubmit="return validarTodo('factura')">
						{% csrf_token %}

						{% for field in form %}
						<div class="form-group">
							<label for="{{ field.name }}">
								{{field.label}}
							</label>
							{{field}}
						</div>
						{% endfor %}
						<div class="form-group">
							<button type="submit" class="btn btn-primary">Ingresar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	{%endif%}
</article>

<script type="module">
	$(document).ready(function() {
		$('.select2').select2({
			theme: 'bootstrap-5'
		});

		let productos = document.getElementById('productos');
		if (productos != null) {
			productos.max = '{{ productos_disponibles }}';
		}
	});
</script>

{% endblock %}